* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(
    315deg,
    #003cfa,
    #102fff,
    #1428df,
    #0e49be,
    #3472ed,
    #689bff
  );
  -webkit-background: linear-gradient(
    315deg,
    #003cfa,
    #102fff,
    #192ff2,
    #2068f9,
    #1966ff,
    #1965ff
  );
  min-height: 100vh;
  background-clip: cover;
}

.container {
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background-color: hsl(240, 36%, 95%);
  border-radius: 5px;
  position: relative;
  box-shadow: 5px 10px 10px 0 rgb(0, 10, 54, 0.20);
  overflow: hidden;
}
.container form {
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
  transition: .5s ease;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  color: hsl(243, 10%, 41%);
}

form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #8f90a3;
  outline: none;
  background: transparent;
}

::placeholder {
  color: hsl(235, 10%, 45%);
}

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    text-transform: uppercase;
    font-weight: 600;
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(140deg, hsl(44, 100%, 58%), hsl(38, 100%, 52%)); 
    color: hsl(46, 100%, 15%);
    border: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 hsla(16, 100%, 15%, 0.133);
    cursor: pointer;
}

#form2 {
    left: 450px;
}
#form3 {
    left: 450px;
}

.step-row {
    background-color: #eeeef7;
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px -1px hsla(0, 0%, 0%, 0.111);
    position: relative;
    border-radius: 10px 10px 0px 0px;
}

.step-col {
  width: 120px;
  text-align: center;
  color: hsl(46, 100%, 15%);
  font-weight: 400;
  position: relative;
}

#progress {
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(90deg, hsl(44, 100%, 58%), hsl(38, 100%, 52%)); 
  color: hsl(46, 100%, 15%);
  transition: .5s ease;
}

#progress::after{
  content: '';
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left:20px solid #ffa60b
}